<div class="a-layout-row   o-main-header__row ">
<div class="a-layout-content-block   o-main-header ">
        <div class='o-main-header__dropdown-menu o-main-header__dropdown-menu__main-menu-wrapper'>
          <button class="o-main-header__dropdown-menu__button o-main-header__main-menu-button" aria-label="Menu">
            <svg class="a-icon  " viewBox="0 0 24 24" role="img"  aria-hidden="true"  focusable="false">
  
  <rect x="5" y="7" width="14" height="1" rx=".5"/>
  <rect x="5" y="11" width="14" height="1" rx=".5"/>
  <rect x="5" y="15" width="14" height="1" rx=".5"/>
</svg>
 <span class="o-main-header-menu-name">Menu</span>
          </button>
          <div class='o-main-header-menu__dropdown-content o-main-header__dropdown-menu__main-content o-main-header__main-menu'>
              <div class="m-main-header-menu__wrapper">
                  <div class="m-main-header-menu">
                      <div class="m-main-header-menu__col-">
                          <div class='m-menu-category  '>
                              <span class="m-menu-category__name">
                                  <div class='a-link  '>
                                    <a href=/>
                                      <div class="a-link__content-wrapper">
                                              <span class="a-link__text">Kurse &amp; Training</span>
                                      </div>
                                    </a>
                                  </div>
                                  <button class="m-menu-category__toggle">
                                      <span class="m-menu-category__toggle-icons">
                                        <span class="m-menu-category-down">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron down icon</title>
                                            <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                          </svg>
                                        </span>
                                        <span class="m-menu-category-up">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron up icon</title>
                                            <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                          </svg>
                                        </span>
                                      </span>
                                  </button>
                              </span>
                              <div class="m-menu-category__toggle-content">
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">CME</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Facharzt-Training</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Training-Videos</span>
                                          </div>
                                        </a>
                                      </div>
                              </div>
                          </div>
                          <div class='m-menu-category  '>
                              <span class="m-menu-category__name">
                                  <div class='a-link  '>
                                    <a href=/>
                                      <div class="a-link__content-wrapper">
                                              <span class="a-link__text">Medien</span>
                                      </div>
                                    </a>
                                  </div>
                                  <button class="m-menu-category__toggle">
                                      <span class="m-menu-category__toggle-icons">
                                        <span class="m-menu-category-down">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron down icon</title>
                                            <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                          </svg>
                                        </span>
                                        <span class="m-menu-category-up">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron up icon</title>
                                            <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                          </svg>
                                        </span>
                                      </span>
                                  </button>
                              </span>
                              <div class="m-menu-category__toggle-content">
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">e.Medpedia</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Algorithmen &amp; Infografiken</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Bücher</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Springer Medizin Podcast</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Webinare</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-cms'></div>
                                      </span>
                                                  <span class="a-link__text">Zeitschriften</span>
                                          </div>
                                        </a>
                                      </div>
                              </div>
                          </div>
                          <div class="newsletter-shop">
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-bag--white'></div>
                          </span>
                                      <span class="a-link__text">Abo-Shop</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-newsletter--white'></div>
                          </span>
                                      <span class="a-link__text">Newsletter</span>
                              </div>
                            </a>
                          </div>
                          </div>
                          <div class="language-switch">
                                  <div class='a-link  '>
                                    <a href=/>
                                      <div class="a-link__content-wrapper">
                                              <span class="a-link__text">DE</span>
                                      </div>
                                    </a>
                                  </div>
                                  <div class='a-link  '>
                                    <a href=/>
                                      <div class="a-link__content-wrapper">
                                              <span class="a-link__text">EN</span>
                                      </div>
                                    </a>
                                  </div>
                          </div>
                      </div>
                      <div class="m-main-header-menu__col-2">
                          <div class='m-menu-category  '>
                              <span class="m-menu-category__name">
                                  <div class='a-link  '>
                                    <a href=/>
                                      <div class="a-link__content-wrapper">
                                              <span class="a-link__text">Gebiete</span>
                                      </div>
                                    </a>
                                  </div>
                                  <button class="m-menu-category__toggle">
                                      <span class="m-menu-category__toggle-icons">
                                        <span class="m-menu-category-down">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron down icon</title>
                                            <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                          </svg>
                                        </span>
                                        <span class="m-menu-category-up">
                                          <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                            <title>Chevron up icon</title>
                                            <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                          </svg>
                                        </span>
                                      </span>
                                  </button>
                              </span>
                              <div class="m-menu-category__toggle-content">
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">AINS</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Allgemeinmedizin</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Augenheilkunde</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Chirurgie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Dermatologische Gynaklologie und Geburtshilfe</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">HNO</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Innere Medizin</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Kardiologie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Neurologie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Onkologie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Orthopädie und Unfallchirurgie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Pädiatrie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Pathologie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Psychatrie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Radiologie</span>
                                          </div>
                                        </a>
                                      </div>
                                      <div class='a-link m-menu-category__toggle-content--link '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Urologie</span>
                                          </div>
                                        </a>
                                      </div>
                              </div>
                          </div>
                      </div>
                      <div class="m-main-header-menu__col-3__subgrid">
                          <div class="subgrid-1">
                              <div class='m-menu-category  '>
                                  <span class="m-menu-category__name">
                                      <div class='a-link  '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Aktuelles</span>
                                          </div>
                                        </a>
                                      </div>
                                      <button class="m-menu-category__toggle">
                                          <span class="m-menu-category__toggle-icons">
                                            <span class="m-menu-category-down">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron down icon</title>
                                                <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                              </svg>
                                            </span>
                                            <span class="m-menu-category-up">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron up icon</title>
                                                <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                              </svg>
                                            </span>
                                          </span>
                                      </button>
                                  </span>
                                  <div class="m-menu-category__toggle-content">
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Aktuelles aus allen Fachgebieten</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">COVID-19</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Blickdiagnosen</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Neues aus dem Markt</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Panorama</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Kongressberichte</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Jobs für Ärztinnen und Ärzte</span>
                                              </div>
                                            </a>
                                          </div>
                                  </div>
                              </div>
                              <div class='m-menu-category  '>
                                  <span class="m-menu-category__name">
                                      <div class='a-link  '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Praxis- und Klinikalltag</span>
                                          </div>
                                        </a>
                                      </div>
                                      <button class="m-menu-category__toggle">
                                          <span class="m-menu-category__toggle-icons">
                                            <span class="m-menu-category-down">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron down icon</title>
                                                <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                              </svg>
                                            </span>
                                            <span class="m-menu-category-up">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron up icon</title>
                                                <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                              </svg>
                                            </span>
                                          </span>
                                      </button>
                                  </span>
                                  <div class="m-menu-category__toggle-content">
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">GOÄ &amp; EBM</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Praxis und Beruf</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Praxis-Finanzrechner</span>
                                              </div>
                                            </a>
                                          </div>
                                  </div>
                              </div>
                          </div>
                          <div class="subgrid-2">
                              <div class="adv-content">
                                      <div class='m-menu-category  '>
                                          <span class="m-menu-category__name">
                                              <div class='a-link  '>
                                                <a href=/>
                                                  <div class="a-link__content-wrapper">
                                                          <span class="a-link__text">Werbung</span>
                                                  </div>
                                                </a>
                                              </div>
                                              <button class="m-menu-category__toggle">
                                                  <span class="m-menu-category__toggle-icons">
                                                    <span class="m-menu-category-down">
                                                      <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                        <title>Title</title>
                                                        <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                                      </svg>
                                                    </span>
                                                    <span class="m-menu-category-up">
                                                      <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                        <title>Title</title>
                                                        <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                                      </svg>
                                                    </span>
                                                  </span>
                                              </button>
                                          </span>
                                          <div class="m-menu-category__toggle-content">
                                          </div>
                                      </div>
                                      <a href=/>
                                      <div class="adv-image"><div class="m-scalable-image-container ">
                <div class="">
                  <div
                    data-src="https://i.picsum.photos/id/162/500/144.jpg?hmac&#x3D;t4c8H7cCmcqL-D5eVDWPXtf93z3wfpNoPOo8HQHnd_0"
                    data-alt="Hallo"
                    
                    class="a-responsive-image">
                  </div>
                </div>
              </div>
              </div>
                                      <div class="comm-box">
                                          <h4 class="title">Title</h4>
                                          <p class="text">Drei Experten Neuerungen der ERC-</p>
                                      </div>
                                      </a>
                              </div>
                              <div class='m-menu-category  '>
                                  <span class="m-menu-category__name">
                                      <div class='a-link  '>
                                        <a href=/>
                                          <div class="a-link__content-wrapper">
                                                  <span class="a-link__text">Placeholder</span>
                                          </div>
                                        </a>
                                      </div>
                                      <button class="m-menu-category__toggle">
                                          <span class="m-menu-category__toggle-icons">
                                            <span class="m-menu-category-down">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron down icon</title>
                                                <path d="m 12,13.586 3.293,-3.293 a 1,1 0 1 1 1.414,1.414 l -4,4 a 1,1 0 0 1 -1.414,0 l -4,-4 a 1,1 0 1 1 1.414,-1.414 z" />
                                              </svg>
                                            </span>
                                            <span class="m-menu-category-up">
                                              <svg class="a-icon  " role="img" viewBox="0 0 24 24"   focusable="false">
                                                <title>Chevron up icon</title>
                                                <path d="m 12.000001,12.401499 -3.2930001,3.293 a 1,1 0 1 1 -1.414,-1.414 l 4.0000001,-4 a 1,1 0 0 1 1.414,0 l 4,4 a 1,1 0 1 1 -1.414,1.414 z" />
                                              </svg>
                                            </span>
                                          </span>
                                      </button>
                                  </span>
                                  <div class="m-menu-category__toggle-content">
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Folgende Inhalte sind Platzhalter</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Abrechnen nach GOÄ/UV-GOÄ</span>
                                              </div>
                                            </a>
                                          </div>
                                          <div class='a-link m-menu-category__toggle-content--link '>
                                            <a href=/>
                                              <div class="a-link__content-wrapper">
                                                      <span class="a-link__text">Ärztemangel auf dem Land</span>
                                              </div>
                                            </a>
                                          </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="o-main-header__logos o-main-header__item">
          <div class="o-main-header__logo">
            <a href="/" class="a-brand  a-brand__primary" target="_self">
                <span>springermedizin.de</span>
            </a>          </div>

              
        </div>
        <div class='o-main-header__search o-main-header__dropdown-menu o-main-header__dropdown-menu__search-menu-wrapper'>
            <button class="o-main-header__dropdown-menu__button o-main-header__search-menu-button">
              <svg class="a-icon  " role="img" viewBox="0 0 24 24" aria-hidden="true"  focusable="false">
  
  <path d="M10.26 4.044a7.032 7.032 0 0 0-4.844 2.743 6.97 6.97 0 0 0-1.383 4.763c.085.975.276 1.676.685 2.51.721 1.471 1.815 2.553 3.302 3.264 2.303 1.102 5.133.82 7.156-.713l.236-.179 1.564 1.56c.86.858 1.622 1.589 1.692 1.624.313.156.75.025.921-.277a.787.787 0 0 0 .027-.671c-.035-.07-.766-.832-1.624-1.692l-1.56-1.564.179-.236c1.19-1.571 1.643-3.652 1.228-5.646-.275-1.328-1.056-2.712-2.046-3.628a7.032 7.032 0 0 0-5.533-1.858m1.914 1.072c2.407.51 4.177 2.279 4.713 4.71.126.571.126 1.777 0 2.348-.536 2.431-2.282 4.177-4.713 4.713-.571.126-1.777.126-2.348 0a6.434 6.434 0 0 1-1.479-.511c-1.682-.84-2.817-2.317-3.236-4.206-.125-.565-.125-1.775 0-2.34.572-2.582 2.55-4.428 5.132-4.789.431-.061 1.484-.019 1.931.075" fill-rule="evenodd"/>
</svg>
 <span class="o-main-header-menu-name">Suche</span>
            </button>
            <div class='o-main-header-menu__dropdown-content o-main-header__dropdown-menu__search-content o-main-header__search-menu'>
                <div class="m-header-search-menu a-layout-content-block">
                    <div class="m-header-search-menu__content">
                        <div class="a-search-box ">
                            <div class="input-wrapper">
                                <form class="a-search-box__form">
                                    <span class="a-search-box__icon"><svg class="a-icon  " role="img" viewBox="0 0 24 24" aria-hidden="true"  focusable="false">
                          
                          <path d="M10.26 4.044a7.032 7.032 0 0 0-4.844 2.743 6.97 6.97 0 0 0-1.383 4.763c.085.975.276 1.676.685 2.51.721 1.471 1.815 2.553 3.302 3.264 2.303 1.102 5.133.82 7.156-.713l.236-.179 1.564 1.56c.86.858 1.622 1.589 1.692 1.624.313.156.75.025.921-.277a.787.787 0 0 0 .027-.671c-.035-.07-.766-.832-1.624-1.692l-1.56-1.564.179-.236c1.19-1.571 1.643-3.652 1.228-5.646-.275-1.328-1.056-2.712-2.046-3.628a7.032 7.032 0 0 0-5.533-1.858m1.914 1.072c2.407.51 4.177 2.279 4.713 4.71.126.571.126 1.777 0 2.348-.536 2.431-2.282 4.177-4.713 4.713-.571.126-1.777.126-2.348 0a6.434 6.434 0 0 1-1.479-.511c-1.682-.84-2.817-2.317-3.236-4.206-.125-.565-.125-1.775 0-2.34.572-2.582 2.55-4.428 5.132-4.789.431-.061 1.484-.019 1.931.075" fill-rule="evenodd"/>
                        </svg>
                        </span>
                                    <input class="a-search-box__content" type="search" aria-label=Suche placeholder="Suchbegriff eingeben ">
                                    <input name="searchType" type="hidden" value="StandardSearchType">
                                </form>
                            </div>
                            <div class="autocomplete-wrapper"></div>
                        </div>
                        <div class='a-link m-header-search-menu__text '>
                          <a href=/>
                            <div class="a-link__content-wrapper">
                                    <span class="a-link__text">Erweiterte Suche</span>
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class='o-main-header__dropdown-menu o-main-header__dropdown-menu__profile-menu-wrapper'>
          <button class="o-main-header__dropdown-menu__button o-main-header__profile-menu-button" aria-label="Mein Profil">
            <svg class="a-icon  " viewBox="0 0 24 24" role="img"  aria-hidden="true"  focusable="false">
              
              <path d="M15.5,15 C17.9852814,15 20,17.0147186 20,19.5 L20,21.5 C20,21.7761424 19.7761424,22 19.5,22 C19.2238576,22 19,21.7761424 19,21.5 L19,19.5 C19,17.5670034 17.4329966,16 15.5,16 L8.5,16 C6.56700338,16 5,17.5670034 5,19.5 L5,21.5 C5,21.7761424 4.77614237,22 4.5,22 C4.22385763,22 4,21.7761424 4,21.5 L4,19.5 C4,17.0147186 6.01471863,15 8.5,15 L15.5,15 Z M12,3 C9.51471863,3 7.5,5.01471863 7.5,7.5 C7.5,9.98528137 9.51471863,12 12,12 C14.4852814,12 16.5,9.98528137 16.5,7.5 C16.5,5.01471863 14.4852814,3 12,3 Z M12,4 C13.9329966,4 15.5,5.56700338 15.5,7.5 C15.5,9.43299662 13.9329966,11 12,11 C10.0670034,11 8.5,9.43299662 8.5,7.5 C8.5,5.56700338 10.0670034,4 12,4 Z" />
            </svg>
            <span class="o-main-header-menu-name">
                Mein Profil
            </span>
          </button>
          <div class='o-main-header-menu__dropdown-content o-main-header__dropdown-menu__profile-content o-main-header__profile-menu'>
              <div class="m-profile-menu">
                  <div class="m-profile-menu__content-box my-profile">
                      <h3 class="m-profile-menu__content-heading ">Mein Profil</h3>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-user'></div>
                          </span>
                                      <span class="a-link__text">Persönliche Daten</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-knight-black'></div>
                          </span>
                                      <span class="a-link__text">Mein CME</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-bookmark'></div>
                          </span>
                                      <span class="a-link__text">Meine Lesezeichen</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-newsletter'></div>
                          </span>
                                      <span class="a-link__text">Meine Newsletter</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-bag'></div>
                          </span>
                                      <span class="a-link__text">Meine Abo</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link m-profile-menu__content-box__icons '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__icon">    <div class='a-sn-icon a-sn-icon-users'></div>
                          </span>
                                      <span class="a-link__text">Meine Mitgliedschaften</span>
                              </div>
                            </a>
                          </div>
                  </div>
                 <div class="m-profile-menu__content-box my-content">
                      <h3 class="m-profile-menu__content-heading">Meine Inhalte</h3>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Meine Zeitschriften</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Mein e.Med</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Mein e.Dent</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Meine b.Flat</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Mein Facharzt-Training</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Mein FlapFinder</span>
                              </div>
                            </a>
                          </div>
                          <div class='a-link  '>
                            <a href=/>
                              <div class="a-link__content-wrapper">
                                      <span class="a-link__text">Meine Web-Seminar</span>
                              </div>
                            </a>
                          </div>
                  </div>
                  <a class="a-button a-button-profile-menu " href="/" role="button" >
                    Ausloggen
                  </a>
              </div>
          </div>
        </div>
</div>
</div>