doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="../../vendor/pl-styles.css")
    link(rel="stylesheet", href="../styles.scss")
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  body
    include ../includes/header.pug
    main#main.main 
        div.a-layout-row.a-layout-row__no-margin
            div.a-layout-content-block
                h1.a-page-title hello world

    script(src="../lib/Imager.js")
    script(src="../js/main-header.js")
    script(src="../js/autosuggest.js")